/* add your CSS here */

.italicized {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.list-style {
	list-style-type: none;
	padding: 0;
}

.card-border {
	border: 15px solid #483d8b;
	box-shadow: inset 0 0 10px 2px gray;
	border-radius: 10px;
}

.information {
	border: 1px dashed #483d8b;
	padding: 1em;
	width: 268px;
	margin: auto;
}

.card-width {
	width: 300px;
	padding: 3em;
}

.animal-picture {
	box-shadow: 0 0 10px 3px gray;
	width: 300px;
	margin: 30px auto;
}

h1 {
	color: #483D8B;
	text-align: center;
	margin: 0;
	font-size: 3em;
}
